/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; /* Set the font family */
    margin: 0; /* Remove default margin */
}

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
