.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* Add horizontal padding */
    background-color: #011f3d; /* Dark background color */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.home-link {
    font-size: 2rem; /* Larger font size */
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Smooth transition for hover */
    margin-left: 75px;
}

.home-link:hover {
    color: #61dafb; /* Light blue color on hover */
}

.back-link { /* Add a new class for the back link */
    font-size: 1.25rem; /* Larger font size */
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Smooth transition for hover */
    margin-right: 75px;
}

.back-link:hover { /* Apply the same hover effect */
    color: #61dafb; /* Light blue color on hover */
}

/* New CSS for the header button */
.header-button {
    font-size: 1.25rem; /* Match font size with links */
    background: none; /* Remove default button styling */
    border: none; /* Remove border */
    color: white; /* Match color with links */
    cursor: pointer; /* Indicate clickable button */
    transition: color 0.3s ease; /* Smooth transition for hover */
    margin-right: 75px; /* Match spacing with links */
}

.header-button:hover {
    color: #61dafb; /* Light blue color on hover */
}
